[Unit]
Description=Node Exporter
After=network.target

[Service]
User=root
ExecStart=/home/prometheus/node_exporter

[Install]
WantedBy=multi-user.target
